/* Overall formatting to <body> */

body {
    min-height: 100vh; /* ensures body covers entire screen at min */
    background-image: linear-gradient(135deg, rgb(3, 3, 3) 10%, rgb(71, 126, 245) 90%);   
      
    text-align: center; /* aligns all text in body to center */ 
    
    display: flex; /* aligns all elements within body to center */ 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    color: white; 
}
  
  
/* Calculator container */
.calculator-container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px; /* spacing between the containers */ 
    
    height: 550px;
    width: 375px; 
    
    background-color: black;
    border: 5px solid rgb(4, 255, 255);
    border-radius: 25px;
    
    margin: auto; /* centers our calculator container */
    padding: 15px; 
}
  
  
/* Grid - number display - 1st row */
.number-display-container {
    grid-row: 1;
    
    display: flex; /* goes with flex-direction, sets up flex box */
    flex-direction: column; /* goes with display: flex, column fills up entire flex box as 1 column */
    
    justify-content: center; /* vertical alignment of the display*/
}
  
.number-on-screen {
    font-size: 60px; 
    text-align: right;
    color: white;
    
    height: 75px; 
    width: 96%; /* need to set width, otherwise will spill */
    
    background-color: black;
    border-radius: 10px;
    border: none;  /* change red to check */ 
}
  
  
/* Grid - number pad - 2nd, 3rd, 4th, 5th row */
.number-pad-container {
    grid-row: 2 / 7;
      
    display: grid;
    grid-template-columns: repeat(4, 1fr);
        
    column-gap: 10px; /* spacing between the buttons - vertically */ 
    row-gap: 10px;  /* spacing between the buttons - horizontally */ 
}

.pad-button {
    border-radius: 100px; /* rounding the buttons */ 
    
    font-size: 40px; 
    color: #e6e6e6; 
    background-color: #4f5357; 
    
    cursor: pointer; /* converts cursor to hand when on the button */
}

.pad-button:active,
.pad-button:hover {
    color: white;
    background-color: #242729; /* darken background, highlight text */ 
    cursor: pointer; 

    transition: all .25s;
    transition-timing-function: ease-in;
}
  
.pad-button-color {
    border-radius: 100px; /* rounding the buttons */ 
    
    font-size: 40px; 
    color: #e6e6e6; 
    background-color: rgb(69, 71, 202); 
    
    cursor: pointer; /* converts cursor to hand when on the button */
}

.pad-button-color:active,
.pad-button-color:hover {
    color: white; 
    background-color: #20603d; 
    
    transition: all .25s;
    transition-timing-function: ease-in;
}

/* Estilo específico para el botón AC (fuera de las otras clases) */
#pad-button-ac {
    background-color: #fd004c; 
    color: white;
}

#pad-button-ac:active,
#pad-button-ac:hover {
    background-color: #006661; 
    color: rgb(255, 255, 255);
    
    transition: all .25s;
    transition-timing-function: ease-in;
}

#pad-button-equal-sign {
    grid-column: 4; 
}


/* Grid - credits n clear - 6th last row */

.credits-container {
    grid-column: 1/4; 
    
    color: white; 
    font-size: 20px; 
    
    margin: auto; /* centers the contents to middle */
}

.credits-container a {
    color: white; 
    text-decoration: none; /* to get rid of the underline */
}

